.button-container {
  display: flex;
  justify-content: space-around;
  margin: 15px auto;
  padding: 10px;
  width: 250px;
}

button {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 24px;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
}

#start-btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #f9eca0;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f9eca0;
  box-shadow: inset 0px 1px 0px 0px #f9eca0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f0c911),
    color-stop(1, #f2ab1e)
  );
  background: -moz-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background: -webkit-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background: -o-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background: -ms-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background: linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
  background-color: #f0c911;
  border: 1px solid #e65f44;
  cursor: pointer;
  color: #c92200;
  text-shadow: 0px 1px 0px #ded17c;
}
#start-btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f2ab1e),
    color-stop(1, #f0c911)
  );
  background: -moz-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
  background: -webkit-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
  background: -o-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
  background: -ms-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
  background: linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
  background-color: #f2ab1e;
}
#start-btn:active {
  position: relative;
  top: 1px;
}

#reset-btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f24537),
    color-stop(1, #c62d1f)
  );
  background: -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border: 1px solid #d02718;
  color: #ffffff;
  text-shadow: 0px 1px 0px #810e05;
}
#reset-btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #c62d1f),
    color-stop(1, #f24537)
  );
  background: -moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: -webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: -o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: -ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}
#reset-btn:active {
  position: relative;
  top: 1px;
}
