* {
  box-sizing: border-box;
  font-size: 24px;
}

body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
}

h1 {
  font-family: "Bangers", cursive;
  font-weight: bold;
  font-size: 76px;
  color: yellow;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 10px;
}

.game {
  text-align: center;
  align-items: center;
  margin: 15px 25%;
}

.container {
  border-radius: 5px;
}
